@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&display=swap");
/* Generales*/
h1 {
  font-family: "Dancing Script", cursive;
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
  margin: 2rem; }

h2 {
  font-size: 2rem;
  margin-top: 15px;
  color: #76323f;
  text-transform: uppercase;
  font-weight: bold; }

h5 {
  color: #c09f80;
  font-weight: bold; }

.bgNavPropio {
  background-color: #c09f80; }

.bgBordo {
  background-color: #76323f; }

.banner {
  background-image: url(../media/banner.png);
  max-height: 500px;
  height: 60vh;
  background-position: center;
  background-size: cover;
  box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.55);
  -webkit-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.55);
  background-repeat: no-repeat;
  opacity: .8; }

@media all and (max-width: 540px) {
  .banner {
    background-image: url(../media/banner-mob.jpg); } }

body {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  background-color: #d7cec7; }

.logo {
  height: 200px; }

.navbar-nav a:hover {
  transform: scale(1.2); }

.boton {
  text-decoration: none;
  color: #76323f;
  background-color: #c09f80;
  padding: 3px;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 300ms; }
  .boton:hover {
    cursor: pointer;
    background-color: #d7cec7;
    text-decoration: none;
    color: #76323f; }

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding: .2rem 1rem;
  box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.45);
  font-size: 1rem; }

@media all and (min-width: 392px) {
  footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end; }
    footer .iconoW {
      position: fixed;
      width: 40px;
      height: 40px;
      bottom: 5px;
      right: 5px; } }

/*Inicio*/
.contenedorCard {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

@media all and (min-width: 768px) {
  .contenedorCard {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; } }

.contenedorInicio {
  margin: 20px;
  text-align: center; }

.borde {
  border-top: solid 1px #eeeeee; }

/*Blog*/
.contenedorBlog {
  margin: 20px; }
  .contenedorBlog h2 {
    text-align: center; }
  .contenedorBlog ul, .contenedorBlog ol {
    list-style-position: inside;
    padding: 0; }
    .contenedorBlog ul li, .contenedorBlog ol li {
      margin-left: 20px;
      margin-bottom: 10px; }
  .contenedorBlog img {
    max-height: 550px;
    border-radius: 5px; }

@media all and (min-width: 768px) {
  #blog1 {
    display: grid;
    grid-template-areas: "titulo titulo" "p1 p1" "p2 p2" "p3 p3" "sub img" "p4 img" "p5 p5" "p6 p6";
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 2px; }
    #blog1 h2 {
      grid-area: titulo; }
    #blog1 .blogp1 {
      grid-area: p1; }
    #blog1 .blogp2 {
      grid-area: p2; }
    #blog1 h3 {
      grid-area: sub; }
    #blog1 .blogp3 {
      grid-area: p3; }
    #blog1 .blogp4 {
      grid-area: p4; }
    #blog1 .blogp5 {
      grid-area: p5; }
    #blog1 .blogp6 {
      grid-area: p6; }
    #blog1 .imagenBlog1 {
      display: block;
      grid-area: img;
      max-height: 500px;
      width: 500px;
      justify-self: center; } }

/*Cursos*/
.frase {
  font-family: "Dancing Script", cursive;
  font-size: 1.6rem;
  background-color: #eeeeee;
  width: 70%;
  margin: auto;
  padding: 1.5rem;
  text-align: center;
  border-radius: 5px; }

.contenedorCursos {
  margin: 20px;
  text-align: center; }

.contenedorCirculos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; }

@media all and (min-width: 768px) {
  .contenedorCirculos {
    flex-direction: row; } }

.circulo {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .circulo.bgPastas {
    background-image: url(../media/curso1.png);
    background-position: center;
    background-size: cover; }
  .circulo.bgSalsas {
    background-image: url(../media/curso2.png);
    background-position: center;
    background-size: cover; }

/*Nosotros*/
.contenedorNosotros p {
  text-align: center;
  margin-bottom: 10px; }

.botonModal {
  text-decoration: none;
  color: #76323f;
  background-color: #c09f80;
  padding: 3px;
  border-radius: 5px; }

.bgMogal {
  background-color: #76323f; }

.carousel-indicators li {
  width: 10px;
  height: 10px; }

/*Contacto*/
form {
  margin: 20px; }
  form div {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700; }
  form #nombre, form #tel, form #email, form .botonSelect, form .mensaje {
    background-color: #eeeeee;
    border: none;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 1rem;
    resize: none; }
    form #nombre:focus-visible, form #tel:focus-visible, form #email:focus-visible, form .botonSelect:focus-visible, form .mensaje:focus-visible {
      outline-color: #76323f; }
  form label {
    margin-bottom: 0; }
  form fieldset {
    color: #565656; }
  form legend {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin: 15px 0; }
  form .enviar {
    width: 100%;
    margin-bottom: 25px; }
