@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&display=swap");
h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 10px; }

h2 {
  color: #76323f;
  font-style: italic;
  font-size: 1.6rem;
  margin-top: 15px; }

.banner {
  background-image: url(../media/banner.png);
  max-height: 500px;
  height: 60vh;
  background-position: center;
  background-size: cover;
  box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.55);
  -webkit-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.55);
  background-repeat: no-repeat;
  opacity: .8; }

@media all and (max-width: 540px) {
  .banner {
    background-image: url(../media/banner-mob.jpg); } }

body {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  background-color: #d7cec7; }

.logo {
  height: 200px; }

.bgNavPropio {
  background-color: #c09f80; }

.navbar-nav a:hover {
  transform: scale(1.2); }

.bgBordo {
  background-color: #76323f; }

.boton {
  text-decoration: none;
  color: #76323f;
  background-color: #c09f80;
  padding: 3px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 300ms; }

.boton:hover {
  background-color: #d7cec7;
  text-decoration: none;
  color: #76323f; }

.botonModal {
  text-decoration: none;
  color: #76323f;
  background-color: #c09f80;
  padding: 3px;
  border-radius: 5px; }

.bgMogal {
  background-color: #76323f; }

footer {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: .2rem 1rem;
  box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.45);
  font-size: 1rem; }
  footer .iconoW {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 5px;
    right: 5px; }

.contenedorCard {
  margin: 20px;
  flex-direction: column;
  align-items: center; }

@media all and (min-width: 768px) {
  .contenedorCard {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch; } }

.contenedorInicio {
  margin: 20px;
  text-align: center; }
  .contenedorInicio .borde {
    border-top: solid 1px #565656; }

.contenedorBlog {
  margin: 20px; }
  .contenedorBlog h2 {
    text-align: center; }
  .contenedorBlog ul, .contenedorBlog ol {
    list-style-position: inside;
    padding: 0; }
    .contenedorBlog ul li, .contenedorBlog ol li {
      margin-left: 20px; }

@media all and (min-width: 768px) {
  #blog1 {
    display: grid;
    grid-template-areas: "titulo titulo" "p1 p1" "p2 p2" "p3 p3" "sub img" "p4 img" "p5 p5" "p6 p6";
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 15px; }
    #blog1 h2 {
      grid-area: titulo; }
    #blog1 .blogp1 {
      grid-area: p1; }
    #blog1 .blogp2 {
      grid-area: p2; }
    #blog1 h3 {
      grid-area: sub; }
    #blog1 .blogp3 {
      grid-area: p3; }
    #blog1 .blogp4 {
      grid-area: p4; }
    #blog1 .blogp5 {
      grid-area: p5; }
    #blog1 .blogp6 {
      grid-area: p6; }
    #blog1 .imagenBlog1 {
      grid-area: img;
      max-height: 350px;
      justify-self: center;
      border-radius: 5px; } }

.frase {
  font-family: "Dancing Script", cursive;
  font-size: 1.6rem;
  background-color: #565656;
  margin: 20px;
  text-align: center;
  border-radius: 5px; }

.contenedorCursos {
  margin: 20px; }
  .contenedorCursos.boton {
    margin-bottom: 50px; }
  .contenedorCursos h2 {
    text-align: center; }
  .contenedorCursos img {
    margin-top: 15px; }

@media all and (min-width: 768px) {
  .contenedorCursos {
    margin: 20px; }
    .contenedorCursos #curso1 {
      display: grid;
      grid-template-areas: "titulo titulo" "desc desc" "obj obj" "det img" "boton .";
      grid-template-columns: 2fr 1fr; }
      .contenedorCursos #curso1 h2 {
        grid-area: titulo; }
      .contenedorCursos #curso1 .descripcion {
        grid-area: desc; }
      .contenedorCursos #curso1 .objetivo {
        grid-area: obj; }
      .contenedorCursos #curso1 ul {
        grid-area: det;
        list-style-position: inside; }
      .contenedorCursos #curso1 a {
        grid-area: boton;
        justify-self: center; }
      .contenedorCursos #curso1 img {
        grid-area: img;
        max-width: 350px;
        border-radius: 5px; }
    .contenedorCursos #curso2 {
      display: grid;
      grid-template-areas: "titulo titulo" "desc img" "det img" "boton .";
      grid-template-columns: 2fr 1fr;
      grid-template-rows: auto; }
      .contenedorCursos #curso2 h2 {
        grid-area: titulo; }
      .contenedorCursos #curso2 p {
        grid-area: desc; }
      .contenedorCursos #curso2 ul {
        grid-area: det;
        list-style-position: inside; }
      .contenedorCursos #curso2 a {
        grid-area: boton;
        justify-self: center; }
      .contenedorCursos #curso2 img {
        grid-area: img;
        max-width: 350px;
        border-radius: 5px; } }

.contenedorNosotros p {
  text-align: center;
  margin-bottom: 10px; }

form {
  max-width: 1100px;
  margin: auto; }
  form fieldset {
    color: #565656;
    padding: 10px; }
  form legend {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold; }
