/* Generales*/

h1{
	font-family: $fuenteCursiva;
	font-weight: bold;
	font-size: 3rem;
	text-align: center;
	margin: 2rem;}

h2{
	font-size: 2rem;
	margin-top: 15px;
	color: $bordo;
	text-transform: uppercase;
	font-weight: bold;}

h5{
	color: $mostaza;
	font-weight: bold;
}

.oculto{
	display: none;
}

.visible{
	display: inline;
}

.bgNavPropio{
	background-color: $mostaza;}

.bgBordo{
	background-color: $bordo;}

.bgGris{
	background-color: $claro;
}

span{
	font-weight: bold;
}


.banner{
	background-image: url(../media/banner.png);
	max-height: 500px;
	height: 60vh;
	background-position: center;
	background-size: cover;
	box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.55);
	-webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.55);
	-moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.55);
	background-repeat: no-repeat;
	opacity: .8;}

@media all and (max-width: 540px){
	.banner{
		background-image: url(../media/banner-mob.jpg);}}

body{
	font-family: $fuentePrincipal;
	font-size: 1.2rem;
	line-height: 1.5;
	background-color: $beige;}

.logo{
	height: 200px;}

.navbar-nav a:hover{
	transform:scale(1.2) ;}

@mixin estiloBoton{
	text-decoration: none;
	color: #76323f;
	background-color: #c09f80;
	padding: 3px;
	border: none;
	border-radius: 5px;
	text-transform: uppercase;
	font-weight: bold;
	outline: none;
	transition: background-color 300ms;}

.boton{
 	@include estiloBoton;

	&:hover{
		cursor: pointer;
		background-color: $beige;
		text-decoration: none;
		color: $bordo;}
	}

footer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
	padding:.2rem 1rem;
	box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.45);
	-webkit-box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.45);
	-moz-box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.45);
	font-size: 1rem;}

@media all and (min-width: 392px){
	footer{
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-end;
		
		.iconoW {
		  position: fixed;
		  width: 40px;
		  height: 40px;
		  bottom: 5px;
		  right: 5px; }
		}
	}

/*Inicio*/

.contenedorCard{
	margin: $contenedor;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

@media all and (min-width: 768px){
	.contenedorCard{
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;}
}


.contenedorInicio{
	margin: $contenedor;
	text-align: center;}

.borde{
	border-top: solid 1px $claro;}


/*Blog*/

.contenedorBlog{
	margin: $contenedor;

	h2 {text-align: center;}

	ul, ol {
		list-style-position: inside;
		padding: 0;

		li{
			margin-left: 20px;
			margin-bottom: 10px}}
	img{
		max-height: 550px;
		border-radius: 5px;}
}

@media all and (min-width: 768px){
	#blog1{
		display: grid;
		grid-template-areas: 
			"titulo titulo"
			"p1 p1"
			"p2 p2"
			"p3 p3"
			"sub img"
			"p4 img"
			"p5 p5"
			"p6 p6";
		grid-template-columns: repeat(2, 1fr);
		grid-row-gap: 2px;
	
		h2{
			grid-area: titulo;}

		.blogp1{
			grid-area: p1;}

		.blogp2{
			grid-area: p2;}

		h3{
			grid-area: sub;}

		.blogp3{
			grid-area: p3;}

		.blogp4{
			grid-area: p4;}

		.blogp5{
			grid-area: p5;}

		.blogp6{
			grid-area: p6;}

		.imagenBlog1{
			display: block;
			grid-area: img;
			max-height: 500px;
			width: 500px;
			justify-self: center;}
	}  
}


/*Cursos*/

.frase{
	font-family: $fuenteCursiva;
	font-size: 1.6rem;
	background-color: $claro;
	width: 70%;
	margin: auto;
	padding: 1.5rem;
	text-align: center;
	border-radius: 5px;}

#contenedorCursos{
	 margin: 20px;
	 text-align: center;
	 display: flex;
	 flex-direction: row;
	 justify-content: space-evenly;
	 align-items: center;
	 flex-wrap: wrap; }
	 

/*Nosotros*/

.contenedorNosotros p{
	text-align: center;
	margin-bottom: 10px;}

.botonModal{
	text-decoration: none;
	color: $bordo;
	background-color: $mostaza;
	padding: 3px;
	border-radius: 5px;}

.bgMogal{
	background-color: $bordo;}

.carousel-indicators li{
	width: 10px;
	height: 10px;}

/*Contacto*/

@mixin estiloForm{
	background-color: #eeeeee;
	border: none;
	width: 100%;
	text-align: center;
	border-radius: 5px;
	margin-bottom: 1rem;
}


form{

	margin: $contenedor;
	
	div{
		text-align: center;
		text-transform: uppercase;
		font-weight: 700;}
	
	& #nombre, #tel, #email, .botonSelect, .mensaje {
		@include estiloForm
		resize: none;

		&:focus-visible{
			outline-color: $bordo;}
		}


	label{
		margin-bottom: 0;}
	
	
	fieldset{
		color: $oscuro;}

	legend{
		text-align: center;
		text-transform: uppercase;
		font-weight: bold;
		margin: 15px 0;}

	.enviar{
		width: 100%;
		margin-bottom: 25px;
		}
	}
	



